In [1]:
import pandas as pd

In [2]:
path = '/home/ke/Desktop/Project_Bread/tonometry.xlsx'

In [7]:
data = pd.read_excel(path, sheet_name=None)
for sheet in data:
    print(data[sheet])

    System ID Database ID  Patient Number   Surname First Name     Sex  \
0        1609        DATA              84         M          S  FEMALE
1        1609        DATA             104         C         SH  FEMALE
2        1609        DATA             102         R          S    MALE
3        1609        DATA             109         M          R  FEMALE
4        1609        DATA             105         O          J    MALE
5        1609        DATA              88         D          K  FEMALE
6        1609        DATA              89         P          S  FEMALE
7        1609        DATA              92  McIntyre          S  FEMALE
8        1609        DATA             101         G          R  FEMALE
9        1609        DATA             110        Ch          W    MALE
10       1609        DATA              85         H          M  FEMALE
11       1609        DATA              86         P          P  FEMALE
12       1609        DATA              99         F          G  FEMALE
13       1609        DATA              90        MC          R  FEMALE
14       1609        DATA             119         K          M    MALE
15       1609        DATA             111         W          E  FEMALE
16       1609        DATA              94         M          S  FEMALE
17       1609        DATA              98         L          S  FEMALE
18       1609        DATA             108         V          M  FEMALE
19       1609        DATA             103         C          R    MALE

   Date Of Birth Patient ID  Patient Code  Patient Notes  ...  C_AI  C_CalcT1  \
0     01/01/1949      BR031           NaN            NaN  ...   153        81
1     01/01/1955      BR035           NaN            NaN  ...   158        90
2     01/01/1942      BR047           NaN            NaN  ...   144        99
3     01/01/1951     EX1109           NaN            NaN  ...   211        77
4     01/01/1950       EX26           NaN            NaN  ...   172        86
5     01/01/1973       EX41           NaN            NaN  ...   150        85
6     01/01/1941       EX42           NaN            NaN  ...   132        74
7     01/01/1919       EX44           NaN            NaN  ...   188        82
8     01/01/1950       EX46           NaN            NaN  ...   133        86
9     01/01/1972      SH062           NaN            NaN  ...   156        84
10    01/01/1939  WH1280 MH           NaN            NaN  ...   150        91
11    23/08/1930     WH1331           NaN            NaN  ...   168        88
12    08/08/1937     WH1372           NaN            NaN  ...   146        91
13    01/01/1951     WH1708           NaN            NaN  ...   206        85
14    01/01/1953     WH1720           NaN            NaN  ...   114        97
15    01/01/1954     WH1721           NaN            NaN  ...   190        83
16    07/12/1938     WH1723           NaN            NaN  ...   152        89
17    13/04/1940     WH1727           NaN            NaN  ...   155        87
18    01/01/1937     WH1728           NaN            NaN  ...   150        87
19    01/01/1950     WH1741           NaN            NaN  ...   120       141

    C_CalcT2  C_ESP C_P1  C_P2 C_T1ED C_T2ED C_QUALITY_T1  C_QUALITY_T2
0        226    116  114   134     23     63            1             2
1        230    111  106   124     27     70            1             2
2        236    136  131   151     31     74            1             1
3        257    146  122   163     22     74            1             2
4        239    130  128   148     26     74            1             1
5        234     90   86   100     26     72            1             1
6        224     83  104   116     20     61            0             0
7        267    100   90   119     22     71            1             2
8        209    107  114   129     25     60            1             2
9        249    119  116   130     25     73            1             2
10       229    113  114   133     25     62            1             2
11       221    125  119   143     29     72            1             1
12       216    107  108   126     28     67            1             2
13       274    133  118   152     23     73            1             1
14       237    105  114   120     27     66            1             2
15       252     82   73    97     23     70            1             2
16       251    120  118   138     25     71            1             2
17       210    120  122   144     26     63            1             2
18       224    109  115   140     23     60            1             2
19       229     78   80    85     42     69            1             1

[20 rows x 89 columns]
    System ID Database ID  Patient Number   Surname First Name     Sex  \
0        1609        DATA              84         M          S  FEMALE
1        1609        DATA              80         W          H    MALE
2        1609        DATA             104         C         SH  FEMALE
3        1609        DATA              93         H          A  FEMALE
4        1609        DATA             102         R          S    MALE
5        1609        DATA             105         O          J    MALE
6        1609        DATA              88         D          K  FEMALE
7        1609        DATA              89         P          S  FEMALE
8        1609        DATA              96         H          Z    MALE
9        1609        DATA             101         G          R  FEMALE
10       1609        DATA              91  Stocking          R    MALE
11       1609        DATA             113         B          T    MALE
12       1609        DATA             112         H         Ch    MALE
13       1609        DATA             114         L          D    MALE
14       1609        DATA             110        Ch          W    MALE
15       1609        DATA             115         H          L    MALE
16       1609        DATA             116         S          S    MALE
17       1609        DATA              79         S          D    MALE
18       1609        DATA              85         H          M  FEMALE
19       1609        DATA              86         P          P  FEMALE
20       1609        DATA              77         T          B  FEMALE
21       1609        DATA              99         F          G  FEMALE
22       1609        DATA             106         M          B  FEMALE
23       1609        DATA              90        MC          R  FEMALE
24       1609        DATA             119         K          M    MALE
25       1609        DATA             111         W          E  FEMALE
26       1609        DATA              94         M          S  FEMALE
27       1609        DATA              98         L          S  FEMALE
28       1609        DATA             108         V          M  FEMALE
29       1609        DATA             107         R          D  FEMALE
30       1609        DATA             103         C          R    MALE
31       1609        DATA              82         D          L  FEMALE

   Date Of Birth Patient ID  Patient Code  Patient Notes  ...  C_AI  C_CalcT1  \
0     01/01/1949      BR031           NaN            NaN  ...   182        84
1     01/02/1940      BR033           NaN            NaN  ...   202        98
2     01/01/1955      BR035           NaN            NaN  ...   123       104
3     01/01/1935      BR046           NaN            NaN  ...   172        95
4     01/01/1942      BR047           NaN            NaN  ...   122       148
5     01/01/1950       EX26           NaN            NaN  ...   147       104
6     01/01/1973       EX41           NaN            NaN  ...   138        94
7     01/01/1941       EX42           NaN            NaN  ...   270        85
8     26/08/1936       EX45           NaN            NaN  ...   178       104
9     01/01/1950       EX46           NaN            NaN  ...   144        78
10    01/01/1933       Ex43           NaN            NaN  ...   155       114
11    01/01/1951      SH002           NaN            NaN  ...   136       142
12    01/01/1951      SH003           NaN            NaN  ...   129       108
13    01/01/1953      SH060           NaN            NaN  ...    86        76
14    01/01/1972      SH062           NaN            NaN  ...   143       111
15    01/01/1948      SH063           NaN            NaN  ...   155       120
16    01/01/1981      SH064           NaN            NaN  ...   124       133
17    01/01/1945     WH1240           NaN            NaN  ...   185        84
18    01/01/1939  WH1280 MH           NaN            NaN  ...   169        94
19    23/08/1930     WH1331           NaN            NaN  ...   149       114
20    01/01/1938     WH1340           NaN            NaN  ...   186        87
21    08/08/1937     WH1372           NaN            NaN  ...   184        94
22    01/01/1937     WH1487           NaN            NaN  ...   160       110
23    01/01/1951     WH1708           NaN            NaN  ...   158       107
24    01/01/1953     WH1720           NaN            NaN  ...   129       119
25    01/01/1954     WH1721           NaN            NaN  ...   179       105
26    07/12/1938     WH1723           NaN            NaN  ...   154        99
27    13/04/1940     WH1727           NaN            NaN  ...   153       100
28    01/01/1937     WH1728           NaN            NaN  ...   257        87
29    01/01/1948     WH1738           NaN            NaN  ...   140        87
30    01/01/1950     WH1741           NaN            NaN  ...   133       133
31    01/01/1929     wh1275           NaN            NaN  ...   107       127

    C_CalcT2  C_ESP C_P1  C_P2 C_T1ED  C_T2ED C_QUALITY_T1  C_QUALITY_T2
0        247    110  106   130     23      68            1             2
1        271    108   95   116     28      76            1             1
2        230     99  104   110     32      70            0             0
3        255    122  113   141     26      69            1             2
4        242    125  131   141     46      74            1             1
5        233    127  129   141     33      73            1             1
6        220     80   82    91     28      66            1             2
7        291    103   83   112     23      79            1             1
8        269    119  110   134     27      71            1             1
9        229     99  103   118     22      65            1             2
10       250    151  142   172     34      74            1             1
11       265     95   98   114     36      66            1             2
12       230    106  108   120     33      71            1             1
13       179     87  102    98     29      68            0             0
14       248    116  114   124     31      70            0             0
15       275    130  121   143     31      72            1             1
16       246    102  106   112     39      73            1             1
17       236    114  104   124     27      77            1             1
18       251    114  107   128     26      69            1             2
19       229    123  119   135     37      73            1             1
20       257    126  114   139     24      72            1             2
21       252    111   99   121     27      73            1             1
22       249    104  100   120     31      71            1             1
23       255    130  124   146     30      72            1             1
24       263     97  100   109     33      72            1             1
25       268     85   73    94     29      73            1             1
26       241    115  113   132     29      71            1             1
27       229    117  117   135     29      67            1             2
28       269    112   92   132     23      73            1             2
29       237    114  123   141     23      62            1             1
30       237     73   74    80     39      69            1             1
31       202    116  119   121     46      74            1             1

[32 rows x 89 columns]